<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recipe Book</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Welcome to Recipe Book!</h1>
        <h2>Some functionalities I want to add include:</h2>
        <ul>
            <li><a href="">Log in</a></li>
            <li><a href="">Sign up</a></li>
            <li><a href="">Search recipes</a></li>
            <li><a href="">Saved recipes [list of recipes]</a></li>
            <li><a href="">Recipe books [list of recipes that are categorized ex. breakfast. CRUD]</a></li>
        </ul>
        <script src="" async defer></script>
    </body>
</html>